@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato:wght@100;300;400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --bak: 'Bakbak One', cursive;
    --lato: 'Lato', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A1C1F;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

button,
input {
    border: none;
    background: transparent;
}

:focus-visible {
    outline: none;
}

.container {
    max-width: 1596px;
}

.custom_Container {
    max-width: 1800px;
}

.auth_Container {
    max-width: 1090px;
    position: relative;
    z-index: 9999999;
}

.search_Container {
    max-width: 1756px;
}



.mt_85 {
    margin-top: 85px;
}

.all_mb {
    margin-bottom: 50px;
}

.fontBak {
    font-family: var(--bak);
    font-weight: 400;
    color: #FFF;
}

.lgFont,
.lgFont button {
    font-size: 15px !important;
}

h2 {
    color: #FFF;
    font-family: var(--bak);
    font-weight: 400;
    text-align: center;
    font-size: 35px;
}

h3 {
    color: #939393;
    font-family: var(--bak);
    font-weight: 400;
    text-align: center;
    font-size: 30px;
}

hr {
    color: #5A5A5A;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(51, 51, 51);
}

::-webkit-scrollbar-thumb {
    background-color: #202529;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #939393;
}


.sideBar {
    position: relative;
    z-index: 99999;
}


/* Header Start */
header,
nav {
    position: relative;
    z-index: 99999;
}

header,
.nav-link {
    font-family: var(--bak);
    font-weight: 400;
    color: #FFF;
}

.navbar {
    padding-top: 40px;
    padding-bottom: 34px;
}

.navbar-brand {
    color: #FFF;
    font-size: 40px;
}


.nav-link {
    padding: 0;
}

.navbar-nav {
    gap: 24px;
}

.nav-link:hover {
    color: #FDF516;
}

.nav-link:active {
    color: #FDF516;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler span i {
    color: #FFF;
}



:focus-visible {
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.searchNav {
    position: relative;
    z-index: 999999;
    width: 771px;
    height: 45px;
    background-image: url("../assets/Search.png");
    background-repeat: no-repeat;
    background-position: center left 2%;
    background-size: initial;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.20);
}

.searchNav input {
    position: relative;
    z-index: 999999;
    background: transparent;
    padding: 13px 13px 13px 50px;
    border: none;
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
}

.searchNav input::placeholder {
    position: relative;
    z-index: 999999;
    color: #5A5A5A;
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 400;
}

.profileMenu {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding: 6px 6px 6px 31px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.20);
}

.profileImg,
.profileImg img {
    position: relative;
    z-index: 999999;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profileMenu .favourite span svg path, .profileMenu .lock span svg path, .profileMenu .accSetting span svg path {
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.profileMenu .lock:hover span svg path,.profileMenu .accSetting:hover span svg path {
    fill: #FDF516;
}


.profileMenu .favourite:hover span svg path{
    fill:#DD2E44;
}

.profileMenu button{
    opacity: 0.75;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.profileMenu button:hover{
    opacity: 1;
}


.navBg {
    padding: 12px 22px;
    border-radius: 10px;
    background-color: #000;
}

.accountParent {
    position: relative;
}

.accountParent .accountChild {
    transition: 0.3s ease-in-out;
}

.accountChild {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(25px);
    position: absolute;
    top: 55px;
    left: -40%;
    width: max-content;
    visibility: hidden;
    z-index: 9;
}

.navBorder {
    border-bottom: 1px solid #292D31;
    margin: 22px 20px 10px 20px;
}

.childInner {
    padding: 10px 30px;
}

.childInner a {
    color: #fff;
    transition: 0.4s ease-in-out;
}

.childInner a:hover {
    color: #FDF516;
}

.childInner a:hover span svg path {
    fill: #FDF516;
}

.accountParent:hover .accountChild {
    visibility: visible;
}

.logoutBtn {
    display: block;
    background: none;
    margin-bottom: 10px;
    color: #939393;
    font-size: 12px;
    transition: 0.4s ease-in-out;
}

.logoutBtn:hover {
    color: #F4F4F4;
}

.bgShadowTop {
    background-image: url("../assets/Vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgShadowMiddle {
    background-image: url("../assets/middle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bgShadowbottom {
    background-image: url("../assets/bottom.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* .bgShadowBottom {
    position: relative;
    z-index: 5;
}

.bgShadowBottom::before {
    position: absolute;
    content: "";
    left: 11%;
    top: 11%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #2b2b2b;
    -moz-box-shadow: 0 0 348px 218px #2b2b2b;
    box-shadow: 0 0 348px 218px #2b2b2b;
}

.bgShadowBottom::after {
    position: absolute;
    content: "";
    right: 11%;
    top: 11%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #000;
    -moz-box-shadow: 0 0 348px 218px #000;
    box-shadow: 0 0 348px 218px #000;
} */

/* .authShadowBottom {
    position: relative;
    z-index: 5;
} */

/* .authShadowBottom::before {
    position: absolute;
    content: "";
    left: 30%;
    bottom: 6%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #2b2b2b;
    -moz-box-shadow: 0 0 348px 218px #2b2b2b;
    box-shadow: 0 0 348px 218px #2b2b2b;
}

.authShadowBottom::after {
    position: absolute;
    content: "";
    right: 30%;
    bottom: 6%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #2b2b2b;
    -moz-box-shadow: 0 0 348px 218px #2b2b2b;
    box-shadow: 0 0 348px 218px #2b2b2b;
}

.searchShadowBottom {
    position: relative;
    z-index: 5;
}

.searchShadowBottom::before {
    position: absolute;
    content: "";
    left: 10%;
    bottom: 1%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #2b2b2b;
    -moz-box-shadow: 0 0 348px 218px #2b2b2b;
    box-shadow: 0 0 348px 218px #2b2b2b;
}

.searchShadowBottom::after {
    position: absolute;
    content: "";
    right: 10%;
    bottom: 1%;
    z-index: -5;
    background: transparent;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 348px 218px #2b2b2b;
    -moz-box-shadow: 0 0 348px 218px #2b2b2b;
    box-shadow: 0 0 348px 218px #2b2b2b;
} */

/* Header End */


/* Footer Start */
footer {
    font-family: var(--bak);
    font-weight: 400;
    color: #FFF;
    margin-top: 255px;
}

footer p {
    font-size: 40px;

}

footer ul li {
    font-size: 20px;
}

footer ul li a {
    color: #939393;
    font-size: 15px;
    transition: 0.4s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
}

footer hr {
    color: #5A5A5A;
    margin-top: 125px;
}

.footerBottom {
    padding: 35px 0;
}

.footerBottom span,
.footerBottom span a {
    color: #D9D9D9;
    font-family: var(--roboto) !important;
    font-size: 15px;
    font-weight: 500 !important;
}

/* Footer End */

/* Login Page & Register Page Start */

.brightBg {
    border-radius: 30px;
    background: #D9D9D9;
    padding: 28px;
    font-family: var(--bak);
    font-weight: 400;
    max-width: 990px;
}

.imgLogin {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    display: block;
    color: #F4F4F4;
    padding: 70px 20px;
    height: 746px;
}

.imgLogin p {
    font-size: 25px;
}

.imgLogin span {
    font-size: 15px;
}

.addedWall {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.50);
    padding: 52px;
}

.brightBg h1 {
    color: #373737;
    font-size: 30px;
    margin-bottom: 35px;
    text-align: center;
    margin-top: 20px;
}

.authtab {
    border-radius: 12px;
    background: #C9C9C9;
    padding: 4px;
    color: #373737;
    font-size: 12px;
    width: max-content;
    margin-bottom: 13px;
}

.tabInner {
    padding: 7px 33px;
    border-radius: 10px;
    background: transparent;
}

.tabActive,
.tabInner:hover {
    background: #FFF;

}

.community a {
    color: #373737;
    font-family: var(--roboto) !important;
    font-size: 12px;
    font-weight: 500 !important;
    transition: 0.4s ease-in-out;
}

.community a:hover {
    color: #FDF516;
}

.brightBg form label {
    color: #373737;
    font-size: 12px;
    display: block;
    margin-bottom: 16px;
}

.brightBg form input {
    border-radius: 10px;
    background: #FFF;
    padding: 14px;
    width: 326px;
}

.brightBg form input::placeholder {
    color: rgba(55, 55, 55, 0.30);
    font-size: 12px;
}

.darkBtn {
    padding: 9px 47px;
    color: #FFF;
    font-size: 12px;
    border-radius: 10px;
    background: #000;
}

.brightBg form a {
    transition: 0.4s ease;
}

.brightBg form a:hover {
    text-decoration: underline;
}

.socialBtn {
    max-width: 163px !important;
    margin: auto;
}

.socialBtn button {
    border-radius: 5px;
    padding: 10px;
    white-space: nowrap;
    display: block;
    color: #FFF;
    font-size: 12px;
}

.backBtn {
    padding: 9px 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.70);
    color: #FFF;
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.backBtn:hover {
    opacity: .9;
}


/* Login Page & Register Page End */

/* Trending Start */
.trending {
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.20);
    padding: 24px;
    position: relative;
    z-index: 8;
}

.trendingHeader {
    gap: 50px;
}

.allBtn {
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.20);
    padding: 4px;
}

.allBtn button {
    padding: 10px 25px;
    background: none;
    color: #FFF;
    font-family: var(--lato);
    font-size: 12px;
    font-weight: 400;
    border-radius: 24px;
    transition: 0.9s ease-in-out;
}


.btnCustom button {
    padding: 10px 12px !important;
}

.allBtnActive {
    background: rgba(0, 0, 0, 0.70) !important;
}


.allBtn button:hover {
    background: rgba(0, 0, 0, 0.70);
}

.tredImg {
    overflow: hidden;
    border-radius: 15px;
}

.trendingInner img {
    height: 190px !important;
}

.tredImg img {
    border-radius: 15px;
    transition: 0.4s ease-in-out;
    height: 279px;
}

.tredImg img:hover,
.staff img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.moreBtn {
    display: block;
    margin: auto;
    padding: 15px 30px;
    color: #949494;
    font-family: var(--lato);
    font-size: 20px;
    font-weight: 700;
    background-color: #0b0b0d;
    border-radius: 100px;
    transition: 0.4s ease-in-out
}

.moreBtn:hover {
    color: #F4F4F4;
}

/* Trending End */


/* Featured Artists Start */

.artist {
    padding: 53px 112px;
    border-radius: 40px;
    background: #131619;
    overflow: hidden;
}

.artist .proImg,  .artist .proImg img{
    width: 130px;
    height: 130px;
    border-radius: 50%;

}

.artist .proImg img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.profileInner a img{
    opacity: .9;
    transition: 0.4s ease-in-out;
}

.profileInner a img:hover{
    opacity: 1;
}


.artist p,
.viewProfile {
    color: #FFF;
    font-family: var(--bak);
    font-size: 15px;
    font-weight: 400;
    transition: 0.4s ease-in-out;
}

.viewProfile {
    border-radius: 15px !important;
    background: #000 !important;
    padding: 8px 18px;
    transition: 0.4s ease-in-out;
}

.viewProfile:hover {
    opacity: .9;
    background-color: #292e32 !important;
}

/* Featured Artists End*/

/* Staff Pick Start */

.staff {
    /* width: 100%; */
    border-radius: 30px;
    overflow: hidden;
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5); */
}

.staff img {
    border-radius: 30px;
    transition: 0.4s ease-in-out;
    width: 100%;
}

/* Staff Pick End here */



/* WallPaper Page Start */

.wallpaper {
    position: relative;
    background-image: url("../assets/wallpaper.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 802px;
    width: 1442px;
}


/* .addLibrary img,
.like img {
    height: 25px;
    width: 25px;
} */

.sideBar {
    width: 347px;
    height: 100%;
    padding: 15px 23px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.20);
}

.sideImgPro {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.sideBar p {
    font-size: 15px;
}

.sideBar h3 {
    font-size: 20px;
}

.sideBar hr,
.libraryOption hr {
    color: #939393 !important;
}

.tag span,
.info p,
.listBtn {
    font-size: 12px;
}

.info p span {
    color: #CCC;
}

.downLoadBtn {
    padding: 5px 21px;
    border-radius: 5px !important;
    background: #2924FF !important;
    color: #C4C4C4 !important;
    transition: 0.4s ease-in-out;
}

.downLoadBtn:hover {
    opacity: .9;
}

.listBtn button {
    transition: 0.4s ease-in-out;
}

.listBtn button:hover {
    color: #FDF516 !important;
}

.ownerShip {
    background: #141414;
    padding: 9px 18px;
    border-radius: 5px;
    font-size: 12px;
}

.ownerShip a {
    color: #D9D9D9;
    font-family: var(--roboto);
    font-size: 10px;
    font-weight: 500;
    transition: 0.4s ease-in-out;
}

.ownerShip a:hover {
    text-decoration: underline;
}


.searchWallpaper input,
.libraryOption,
.libraryOption button {
    font-size: 12px;
}

.btnPosition {
    padding: 21px 33px;
    position: relative;
}

.libraryOption {
    position: absolute;
    top: 95%;
    right: 5%;
    border-radius: 5px;
    background: rgba(39, 39, 39, 0.90);
    padding: 17px 28px;
    visibility: hidden;
    opacity: 0;
}

.addLibrary .libraryOption {
    transition: 0.4s ease-in-out;
}

.addLibrary:hover .libraryOption {
    visibility: visible;
    opacity: 1;
}


.searchWallpaper {
    z-index: 999999;
    background-image: url("../assets/Search.png");
    background-repeat: no-repeat;
    background-position: center left 2%;
    background-size: initial;
    border-radius: 5px;
    background-color: #0D0D0D;
}

.searchWallpaper input {
    padding: 5px 5px 5px 30px;
}

.searchWallpaper input::placeholder {
    color: #5A5A5A !important;
    font-size: 10px !important;
}

.libraryOption button {
    transition: 0.4s ease-in-out;
}

.libraryOption button:hover {
    color: #FDF516;
}

/* WallPaper Page End */


/* Search Page Start */
.searchHeader {
    padding: 50px;
}

.searchHeader h1 {
    font-size: 40px;
}

#sfwBtn,
#sfwBtn:hover {
    background: #0AB745 !important;
}

#riskBtn {
    background: #FF8578;
}

#nsfBtn {
    background: #FF1F3B;
}

.resParent {
    position: relative;
    transition: 0.4 ease-in-out;
}

.resChild {
    position: absolute;
    top: 50px;
    left: 0;
    padding: 30px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(25px);
    width: max-content;
    visibility: hidden;
    opacity: 0;
    z-index: 2 !important;
}

.searchMain {
    position: relative;
    z-index: 1;
}

.resParent:hover .resChild {
    visibility: visible;
    opacity: 1;
}


.resChild,
.resChild input,
.resChild input::placeholder {
    color: #FDF516;
    font-family: var(--lato);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.resChild button {
    padding: 7px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.40);
    transition: 0.4s ease-in-out;
}

.resChild button:hover {
    color: #FDF516;
}

.resChild input {
    padding: 9px 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.70);
    color: #fff9f9;
    width: 80px;
}

.resChild input::placeholder {
    color: #939393;
}

.searchBtn {
    padding: 9px 40px !important;
    border-radius: 5px !important;
    background: #2924FF !important;
    color: #C4C4C4;
    font-family: var(--bak) !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    transition: 0.4s ease-in-out;
}

.searchBtn:hover {
    opacity: 0.9;
}

.deviceBtn button {
    width: 126px !important;
}

.autorenew {
    padding: 11px 18px;
    background: rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}

.autorenew:hover {
    background-color: #000;
}

.searchImg {
    width: 330px !important;
    height: 170px !important;
}

.loadBtn {
    padding: 10px 25px;
    color: #CCC;
    font-size: 15px;
    background-color: #000;
    border-radius: 100px;
    transition: 0.4s ease-in-out;
}

.loadBtn:hover {
    opacity: .9;
    background-color: #292e32 !important;

}

/* Search Page End */

/* Profile Page Start */

.ownWall {
    width: 252px !important;
    height: 138px !important;
}

.coverImg,
coverImg img {
    width: 1747px;
    height: 365px;
    border-radius: 10px;
    position: relative;
}

.ownImg,
.ownImg img {
    width: 125px;
    height: 125px;
    border-radius: 125px;
}


.ownImg span {
    color: #939393;
    font-size: 15px;
    white-space: nowrap;
}

/* Profile Page End */