@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato:wght@100;300;400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --bak: 'Bakbak One', cursive;
    --lato: 'Lato', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202529;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

:focus-visible {
    outline: none;
}

.container {
    max-width: 1596px;
}


/* Header Start */
header {
    font-family: var(--bak);
}

.navbar {
    padding-top: 40px;
    padding-bottom: 34px;
}

.navbar-brand {
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
}


.nav-link {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
}

.navbar-nav {
    gap: 24px;
}

.nav-link:hover {
    color: #FDF516;
}

.nav-link:active {
    color: #FDF516;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-toggler-icon {
    border: none;
}

.navbar-toggler-icon i {
    color: #FFF;
}

:focus-visible {
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.searchNav {
    width: 771px;
    height: 45px;
    background-image: url("../assets/Search.png");
    background-repeat: no-repeat;
    background-position: center left 2%;
    background-size: initial;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.20);
}

.searchNav input {
    background: transparent;
    padding: 13px 13px 13px 50px;
    border: none;
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
}

.searchNav input::placeholder {
    color: #5A5A5A;
    font-family: var(--lato);
    font-size: 15px;
    font-weight: 400;
}

.profileImg {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.accountParent {
    position: relative;
    transition: 0.3s ease-in-out;
}

.accountChild {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(25px);
    position: absolute;
    top: 90%;
    width: max-content;
    visibility: hidden;
}

.childInner {
    padding: 0 32px;
    margin: 22px 0;
}

.childInner a {
    color: #FFF;
    font-family: var(--bak);
    font-size: 15px;
    font-weight: 400;
    transition: 0.4s ease-in-out;
}

.childInner a:hover {
    color: #FDF516;
}

.accountParent:hover .accountChild {
    visibility: visible;
}

/* Header End */

/* Login Page & Register Page Start */

.brightBg {
    border-radius: 30px;
    background: #D9D9D9;
    padding: 28px;
    margin-top: 85px;
}

.imgLogin {
    background-image: url("../assets/loginImg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    display: block;
    color: #F4F4F4;
    font-family: var(--bak);
    font-weight: 400;
    padding: 70px 55px 34px 55px;
}

.imgLogin p {
    font-size: 25px;
}

.imgLogin span {
    font-size: 15px;
}

.addedWall {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.50);
    padding: 52px;
}

/* Login Page & Register Page End */